/*box-sizing defines how the width and height of an element are calculated (if they include boarders/padding*/
* {
    box-sizing: border-box;
}
/*Root groups variables throughout code to make it easier to change*/
/*color palette*/
:root {
    --primary: rgb(54, 79, 47); 
    --secondary: rgb(226, 219, 185);
    --tertiary: rgb(105, 86, 129);
    --dark: rgb(113, 83, 50);
    --light: rgb(212, 202, 219); 

}
body {
    margin: 0;
    padding: 0;
    font-family: 'American Typewriter', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
