/*box-sizing defines how the width and height of an element are calculated (if they include boarders/padding*/
* {
    box-sizing: border-box;
    margin: 0;
  padding: 0;
  font-family: 'American Typewriter', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Root groups variables throughout code to make it easier to change*/
/*color palette*/
:root {
    --primary: rgb(54, 79, 47); 
    --secondary: rgb(226, 219, 185);
    --tertiary: rgb(105, 86, 129);
    --dark: rgb(113, 83, 50);
    --light: rgb(212, 202, 219); 

}

.body {
    color: var(--primary);
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 800px;
    min-height: 600px;
    text-align: center;
    margin: 32px auto;
    border-radius: 20px;
    padding-bottom: 32px; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*navigation bar*/
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-item {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

.nav-item :hover {
    background-size: 100% 100%;
    color: var(--primary);
}

.nav-item :last-child {
    margin-right: 0;
  }

.banner {
    background: rgb(68, 88, 120);
    background-image: url("./assets/floralbackground.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: var(--light);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}
.contact {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
  min-height: 600px;
  background-color: var(--light);
  text-align: center;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}
/* portfolio project images */
.flex-item {
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }
  .flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-item div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}
.project-one {
    background-image: url("./assets/project1.jpg");
  }
  
.project-two {
    background-image: url("./assets/project2.jpg");
  }
  
.project-three{
    background-image: url("./assets/project3.jpg");
  }
  
.project-four {
    background-image: url("./assets/project4.jpg");
  }
  
.project-five {
    background-image: url("./assets/project5.jpg");
  }
.project-six {
    background-image: url("./assets/project6.jpg");
  }

  /*footer*/
  .footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    position: static;
    bottom: 0;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.deployed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 5px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--tertiary);
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    

}